<!-- ================= PANTALLA 1: LA TAPA ================= -->
@if (!invitacionAbierta) {
  <div class="pantalla-tapa">
    <div class="contenedor-tapa">
      <img src="assets/1.png" class="img-base" alt="Portada de Invitación">
      <div class="boton-abrir" (click)="abrirInvitacion()"></div>
    </div>
  </div>
}

<!-- ================= PANTALLA 2: EL INTERIOR ================= -->
@if (invitacionAbierta) {
  <div class="pantalla-interior animacion-aparecer">

    <!-- AQUÍ ESTÁ LA CANCIÓN -->
    <audio id="miMusica" src="assets/cancion.mp3" loop></audio>

    <!-- ¡LA MAGIA! UN SOLO BRILLO FIJO PARA TODA LA PÁGINA -->
    <div class="brillo-fijo">
      <img src="assets/brillo.gif" style="width: 100%; height: 100%; object-fit: cover;" alt="Efecto de brillo">
    </div>

    <!-- IMAGEN 2 -->
    <div class="bloque-imagen">
      <img src="assets/2.png" class="img-base" alt="Vestido">
      <div class="boton-audio" (click)="reproducirMusica()"></div>
    </div>

    <!-- IMAGEN 3 -->
    <div class="bloque-imagen">
      <img src="assets/3.png" class="img-base" alt="Itinerario">

      <!-- AQUÍ ESTÁ EL BOTÓN DE UBICACIÓN -->
      <div class="boton-ubicacion" (click)="abrirUbicacion()"></div>

      <div class="contenedor-contador">
        <div class="numero-tiempo">{{ dias }}</div>
        <div class="dos-puntos">:</div>
        <div class="numero-tiempo">{{ horas }}</div>
        <div class="dos-puntos">:</div>
        <div class="numero-tiempo">{{ minutos }}</div>
        <div class="dos-puntos">:</div>
        <div class="numero-tiempo">{{ segundos }}</div>
      </div>
    </div>

    <!-- IMAGEN 4 -->
    <div class="bloque-imagen" style="position: relative;">
      <img src="assets/4.png" class="img-base" alt="Confirmación">

      <form #formularioAsistencia id="formulario-asistencia" action="https://api.sheetmonkey.io/form/3wZb1b4fyHSACnNaa5KB3d" method="POST">
        <input type="text" name="Nombre" class="input-invisible-nombre" placeholder="Ingresa tu nombre..." required>
        <button type="button" class="boton-invisible-enviar" (click)="enviarFormulario()"></button>
      </form>
    </div>

  </div>
}